<section class="container" id="midContainerEstrenos" ng-controller='estrenosCtrl'>
  	<section class="container" id="leftContainerEstrenos">
        <div id="userSearchCont">
            <div id="buttonCont" >
               <button id="allMovies" ng-click="todas();">
                   All
               </button>
               <button id="popularMovies" ng-click="popular();">
                   Popular
               </button> 
               <button id="recentMovies" ng-click="recent();">
                   Recents
               </button>
            </div>
            <div id="textdpdCont">
                <input type="text" id="textdpdCont1" ng-model="searchText" value="" ng-keypress="search($event);" placeholder="Search for an actor or director"/>   
                <select id="selectGenre" ng-model="genreSelected">
                    <option value="">--Select--</option>
                    <option ng-repeat="genre in genres" value="{{genre}}">{{genre}}</option>
                </select>
            </div>
        </div>
        <div id="imgContainerEstrenos" >
            <div class="imgEstrenos" ng-repeat="movie in movies">
                <img class="posterEstrenos" ng-src="{{movie.poster}}" />
                <div class="descriptionEstrenos">
                    <p>{{movie.plot}}</p>
                </div>
            </div>
        </div>
    </section> 
    <aside id="asideEstrenos">
    </aside>        
</section>

