<section class="container" id="midContainerPortada" ng-controller='estrenosCtrl'>
    <section class="container" id="leftContainerPortada">
        <section id="imgContainerPortada">
            <section class="imgPortada" >
                <img class="imgPoster" src="img/captainAmerica.jpg"/>
            </section>
            <section class="imgPortada" >
                <img class="imgPoster" src="img/embraceSerpent.jpg"/>
            </section>
            <section class="imgPortada" >
                <img  class="imgPoster" src="img/citizenKane.jpg"/>
            </section>
        </section>
        <article id="articlePortada">
            We are creating one of the best websites to enjoy classic films, and even premieres for FREE! But wait a minute, there's no piracy here... We are commited with the authors' rights, that's why this page is sustained based on your donations and work of many managers. Our primal impulse is the love for this art, and we are so happy to share our passion with all of you. So give us a like, or share our content in Facebook, and Twitter. Thanks for watching!
        </article>
    </section>
    <aside id="asidePortada">
        
    </aside>        
</section>